server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sleeve?characterEncoding=utf-8&serverTimezone=GMT%2B8
    username: root
    password: 11111111
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true

missyou:
  security:
    jwt-key: wangjie
    token-expired-in: 86400000
  order:
    max-sku-limit: 777
    pay-time-limmit: 3600
    pay-callback-host: http://talelin.com
    pay-callback-path: /v1/payment/wx/notify